@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/****************************************************************************************************************
*                                                                                                               *
*                                               Side Bar                                                        *
*                                                                                                               *
*                                                                                                               *
****************************************************************************************************************/



.side-bar-settings {
    position: fixed;
    bottom: 0;
    width: 85px; 
    height: 100%;
    background: #171717;
    display: grid;
}


.icon-settings{
    position: absolute;
    left: 17px;
    top: 13px;
    background-image: url("../../images/logo.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

.panel-button-settings{
    transition: 0.2s all;
    width: 35px;
    height: 39px;
    color: #65636D;
    background-color: transparent;
    border: none;
    align-items: center;
    
}
.panel-button-settings:hover{
    transition: 0.2s all, transform 0.3s ease;
    cursor: pointer;
    transform: translateY(-2px);
    
}

.shop-panel-settings {
    position: absolute;
    background-image: url("../../images/store.png");
    background-size: cover;
    top: 195px;
    left: 23px;
}

.home-panel-settings {
    position: absolute;
    background-image: url("../../images/home.png");
    background-size: cover;
    top: 125px;
    left: 23px;
}
.setting-panel-settings {
    position: absolute;
    background-image: url("../../images/settings.png");
    background-size: cover;
    bottom: 20px;
    left: 23px;
}

.home-panel-settings.active-page-settings {
    background-image: url("../../images/home_active.png");
}

.shop-panel-settings.active-page-settings {
    background-image: url("../../images/store_active.png");
}

.setting-panel-settings.active-page-settings {
    background-image: url("../../images/settings_active.png");
}

.home-panel-settings.active-page-settings::after,
.setting-panel-settings.active-page-settings::after,
.shop-panel-settings.active-page-settings::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 155%;
    transform: translateY(-50%);
    width: 4px;
    height: 20px;
    background-color: #8D8B95;
    border-radius: 5px;
}

.home-panel-settings.active-page-settings::before {
    left: -10px;
}

.shop-panel-settings.active-page-settings::before {
    left: -10px;
}

.setting-panel-settings.active-page-settings::before {
    left: -10px;
}


.information {
    font: normal normal normal 12px Poppins-Regular;
    color: #D9D6E4;
    position: relative;
    top: 20px;
    left: 40px;
}

.title-settings{
    font-family: Poppins-Bold;
    font-size: 15px;
    color: #CCCCCC;
    position: absolute;
    bottom: 98%;
    left: -35px;
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;

 }

/****************************************************************************************************************
*                                                                                                               *
*                                               RAM Content                                                     *
*                                                                                                               *
*                                                                                                               *
****************************************************************************************************************/



 
.ram-settings {
    background: #171717;
    border-radius: 15px;
    width: 1090px;
    height: 120px;
    top: 43px;
    left: 113px;
    position: absolute;
}



.memory-slider {
    position: absolute;
    left: 20px;
    bottom: 30px;
    height: 18px;
    width: 550px;
    user-select: none;
}

.slider-touch-left,
.slider-touch-right {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    z-index: 2;
}

.slider-touch-left span,
.slider-touch-right span {
    display: block;
    width: 35px;
    height: 20px;
    background: linear-gradient(90deg,#ADADAD 0px,#C0C0C0 100%);;
    transition: background-color .2s, border .2s;
    border-radius: 18px;
    cursor: pointer;
}

.slider-touch-left span:after,
.slider-touch-right span:after {
    content: attr(value);
    color: #D9D6E4;
    font: normal normal bold 11px Poppins-SemiBold;
    white-space: nowrap;
    pointer-events: none;
    position: absolute;
    top: -20px;
    left: 85%;
    transform: translate(-50%);
}

.slider-line {
    box-sizing: border-box;
    position: absolute;
    width: calc(100%);
    left: 9px;
    top: 7px;
    height: 9px;
    border-radius: 4px;
    background-color: #373737;
    transition: background-color .2s;
    z-index: 0;
    overflow: hidden;
}

.slider-line span {
    display: block;
    height: 100%;
    width: 0%;
    background: #cf8127;
    transition: background-color .2s;
}
.ram-info-block{
    font: normal normal normal 13px Poppins-Regular;
    margin-bottom: 20px;
    left: 700px;
    position: relative;

}
.ram-info {
    display: flex;
    align-items: center;
    color: #D9D6E4;
    left: 20px;
    top: 40px;
    position: absolute;
}


/****************************************************************************************************************
*                                                                                                               *
*                                               Java Content                                                    *
*                                                                                                               *
*                                                                                                               *
****************************************************************************************************************/


.java-settings {
    background: #171717;
    border-radius: 15px;
    width: 1090px;
    height: 150px;
    top: 200px;
    left: 113px;
    position: absolute;
}

.path {
    min-width: 27%;
    font: normal normal normal 11px Poppins-Regular;
    border-radius: 6px;
    padding: 8px 16px;
    margin: 0 40px;
    margin-top: 2%;
    color: #6C6979;
    background-color: #222126;
    user-select: text;
    transition: color .2s, background-color .2s;
    border: none;
    outline: none;
}
.path-content {
    display: flex;
    position: relative;
    top: 13px;
}

.java-path-box {
    display: flex;
}

.java-path-set:hover{
    background: #dd8d31;
    color: #ffffff;
    transition: transform 0.3s ease;
    transform: translateY(-2px);
}

.java-path-set{
    color: #FCFCFC;
    background: #cf8127;
}
.java-path-reset{
    background: linear-gradient(90deg,#ADADAD 0px,#C0C0C0 100%);
    color: #2B2B2B;
}
.java-path-reset:hover{
    background: linear-gradient(90deg,#bababa 0px,#d0d0d0 100%);
    color: rgb(47, 47, 47);
    transition: transform 0.3s ease;
    transform: translateY(-2px);
}
.path-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal normal 12px Poppins-Bold;
    border-radius: 6px;
    text-align: center;
    width: 120px;
    height: 38px;
    cursor: pointer;
    margin-top: 22px;
    margin-left: -20px;
    transition: color .2s, background-color .2s;
    border: none;
    outline: none;
    margin-right: 40px;
}

.path-file {
    display: none;
    pointer-events: none;
}


/****************************************************************************************************************
*                                                                                                               *
*                                               Resolution Content                                              *
*                                                                                                               *
*                                                                                                               *
****************************************************************************************************************/


.resolution-settings{
    background: #171717;
    border-radius: 15px;
    width: 1090px;
    height: 135px;
    top: 390px;
    left: 113px;
    position: absolute;
}


.input-size-content {
    height: 5rem;
}

.input-size {
    position: absolute;
    display: flex;
    left: 200px;
    top: 43%;
    transform: translate(-50%, 0);
}

.input-settings {
    text-align: center;
    background-color: #222126;
    font-family: Poppins-Medium;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 15px;
    width: 100px;
    color: #D9D6E4;
}

.size-cross {
    margin: 10px;
    color: #D9D6E4;
    
}

.size-cross:before {
    font: normal normal bold 17px Icons;
    content: "\e90e";
}

.select-wrap {
    display: inline-flex;
    margin-left: 10px;
    color: #D9D6E4;
}

.select-wrap:before {
    position: absolute;
    top: 53%;
    transform: translate(20px, -50%);
    font-size: 24px;
    pointer-events: none;
}

.select-wrap:after {
    position: relative;
    top: -6px;
    content: "\e903";
    font-family: 'Icons';
    margin-left: -1.2em;
    font-size: 24px;
    pointer-events: none;
    transform: rotate(180deg);
    color: #D9D6E4;
    transition: color .2s;
    pointer-events: none;
    background: transparent;
}

.select {
    border-radius: 6px;
    background-color: #222126;
    font: normal normal normal 12px/18px Poppins-Regular;
    transition: color .2s, box-shadow .2s;
    border: none;
    outline: none;
    appearance: none;
    color: #CCC;
}



/****************************************************************************************************************
*                                                                                                               *
*                                               Launcher Content                                              *
*                                                                                                               *
*                                                                                                               *
****************************************************************************************************************/

.launcher-settings{
    background: #171717;
    border-radius: 15px;
    width: 1090px;
    height: 120px;
    top: 575px;
    left: 113px;
    position: absolute;
}
 .checkbox-settings {
    display: none;
}

.checkbox-settings+label {
    display: inline;
    position: relative;
    top: 2px;
    margin-right: 24px;
    margin-top: 10px;
    width: 14px;
    height: 14px;
    border-radius: 8px;
    transition: background-color .2s;
    padding: 0px;
    background-color: #A3A3A3;
    cursor: pointer;
}


.launcher-check {
    font: normal normal normal 12px Poppins-Regular;
    color: #D9D6E4;
    position: relative;
    top: 10px;
    left: 40px;
}


.checkround {
    position: absolute;
    z-index: 2;
    border-radius: 7px;
    transition: all .2s;
    background: #cf8127;
}

.checkbox-settings:checked+label {
    background: #dd8d31;
}

.checkround {
    border-radius: 3px;
}

.checkbox-settings+label {
    display: inline-block;
    margin-right: 8px;

}